name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
      - "app.py"
      - "requirements.txt"
      - ".trigger"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/clo835-app:latest .

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/clo835-app:latest
